<div class="primary-nav">

    <button href="#" class="hamburger open-panel nav-toggle">
  <span class="screen-reader-text">Menu</span>
  </button>
  
    <nav role="navigation" class="menu">
  
      <a href="/" class="logotype"><img id="smallEm" src="/color.png" alt="Avanza Analytics" width="50px" height="50px"></a>
  
      <div class="overflow-container">
  
        <ul class="menu-dropdown">
  
            <li>
                <a href="/analytics"><img src="/dollar.png" width="30" height="30"> Analytics</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/development"><img src="/dev.png" width="30" height="30"> Development</a>
                <!-- Icon found on https://www.flaticon.com -->

              </li>
              <!-- <li>
                <a href="/clients"><img src="/team.png" width="30" height="30"> Clients</a>
                 Icon found on https://www.flaticon.com -->

              <!-- </li>  -->
              <li>
                <a href="/about"><img src="/about.png" width="30" height="30"> About</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/contact"><img src="/contact.png" width="30" height="30"> Contact</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/welcome"><img src="/login.png" width="30" height="30"> Login</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>
  
          
        </ul>
  
      </div>
  
    </nav>
  
  </div>
  
  <div class="new-wrapper">
  
    <div id="main">
  
      <div id="main-contents">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
               <h1 style="color:white; font-family: 'Exo 2', sans-serif; border-bottom: 1px solid"><span style="color:#86c232;">A</span>bout</h1>
        <p style="font-family: 'Exo 2', sans-serif; ">Avanza Analytics</p>
            </div>
          </div>
        </div>
  
       
        <br>
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <p style="font-size:20px;">The<span style="color:#86c232"> Farriss Brothers</span> created Avanza Analytics LLC based on the vision of being able to provide businesses with insightful, and customized report services. With combined experience in financial reporting, business systems, auditing, and programming; we have produced a cost efficient solution to fit each business need. We understand the challenge and impact of how in-depth analysis can be used to improve operations. At Avanza Analytics LLC, we are proud to be a part of shaping the success of your business.</p>
            </div>
            <div class="col-lg-5">
              <br>
              <img src="/brogreen.png" height="200" width="270" class="devImg">
            </div>
          </div>
        </div>
  
        
  
      </div>
  
    </div>
  
  </div>








  