<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <nav>
        <aside class='sidebar'>
          <div class='main-nav'>
            <ul>
              <li>
                <a href="/"><img id="smallEm" src="/color.png" alt="Avanza Analytics" width="50px" height="50px"></a>
              </li>


              <li>
                <a href="/analytics"><img src="/dollar.png" width="30" height="30"> Analytics</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/development"><img src="/dev.png" width="30" height="30"> Development</a>
                <!-- Icon found on https://www.flaticon.com -->

              </li>
              <!-- <li>
                        <a href="/clients"><img src="/team.png"
                            width="30" height="30"> Clients</a>
                        Icon found on https://www.flaticon.com -->

              <!-- </li> -->
              <li>
                <a href="/about"><img src="/about.png" width="30" height="30"> About</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/contact"><img src="/contact.png" width="30" height="30"> Contact</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/welcome"><img src="/login.png" width="30" height="30"> Login</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>

            </ul>
          </div>
        </aside>
      </nav>
    </div>
  </div>
</div>
<a href="/home"><img src="/color.png" width="70" height="70"></a>

<div class="container">


  <div class="st-container">
    <div class="whole-slide"></div>
    <input type="radio" name="radio-set" checked="checked" id="st-control-1" />
    <div class="st-scroll">
      <section class="st-panel" id="st-panel-1">
        <h2 id="titleHead">About Us</h2>
        <p style="color:white; text-align:center;"><span
            style="color:#86c232; font-family: 'Titillium Web', sans-serif; ">Avanza Analytics</span></p>
      </section>
    </div><!-- // st-scroll -->

  </div><!-- // st-container -->
</div>




  <div class="container">
    <div class="row">
      <div class="col-lg-6">
          <img src="/brogreen.png" style="display: block;
          margin-left: auto;
          margin-right: auto;
          width: 500px;
      height: auto; margin-top:35%; border: 2px solid #86c232;
  padding: 10px;
  border-radius: 25px;">
        </div>
        <div class="col-lg-6">
          <p class="aboutInfo">The Farriss Brothers created Avanza Analytics LLC based on the vision of being able to
          provide businesses with insightful, and customized report services. With combined experience in financial
          reporting, business systems, auditing, and programming; we have produced a cost efficient solution to fit each
          business need. We understand the challenge and impact of how in-depth analysis can be used to improve
          operations. At Avanza Analytics LLC, we are proud to be a part of shaping the success of your business.</p>
        </div>
        
        

      </div>
    </div>
  </div>