<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <nav>
        <aside class='sidebar'>
          <div class='main-nav'>
            <ul>
              <li>
                <a href="/"><img id="smallEm" src="/color.png" alt="Avanza Analytics" width="50px" height="50px"></a>
              </li>


              <li>
                <a href="/analytics"><img src="/dollar.png" width="30" height="30"> Analytics</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/development"><img src="/dev.png" width="30" height="30"> Development</a>
                <!-- Icon found on https://www.flaticon.com -->

              </li>
              <!-- <li>
                        <a href="/clients"><img src="/team.png"
                            width="30" height="30"> Clients</a>
                         Icon found on https://www.flaticon.com -->

              <!-- </li>  -->
              <li>
                <a href="/about"><img src="/about.png" width="30" height="30"> About</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/contact"><img src="/contact.png" width="30" height="30"> Contact</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/welcome"><img src="/login.png" width="30" height="30"> Login</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>

            </ul>
          </div>
        </aside>
      </nav>
    </div>
  </div>
</div>






<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 id="titleHead">Contact</h1>

    </div>
  </div>
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-lg-5">
      <h2 style="color:white;">Need Work Done?</h2>
      <p style="color:white;">Let Us Know</p>
      <% include ./partials/messages %>
      <form method="POST" action="contact" role="form">
        <div class="form-group">
          <label for="userName" style="color:#86c232;">Name</label>
          <input type="name" class="form-control" id="userName" name="userName" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="message" style="color:#86c232;">Message</label>
          <textarea class="form-control" id="messageInput" name="body" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary" id="submit">Submit</button>
      </form>
    </div>
    <div class="contactName">
      <div class="col-lg-7">
        <h1 style="color:#6b6e70;">Dalton Farriss</h1>
        <p style="color:#86c232;">Profession:<br>Analyst</p>
        <p style="color:#86c232;">Phone:<br> 704-273-2359</p>
        <p style="color:#86c232;">Email:<br> dalton@avanzaanalyticsllc.com</p>
        <h1 style="color:#6b6e70;">Clark Farriss</h1>
        <p style="color:#86c232;">Profession:<br>Developer</p>
        <p style="color:#86c232;">Phone:<br> 704-906-8922</p>
        <p style="color:#86c232;">Email:<br> clark@avanzaanalyticsllc.com</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <img class="clarkContact" src="/clark.png" height="125" width="125">
          <img class="daltonContact" src="/dalton.png" height="125" width="125">
        </div>
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="footIcon">
        <a href="#"> <img src="/facebook.png" width="25" height="25"></a>
        <a href="https://www.instagram.com/avanzaanalyticsllc/"><img src="/instagram.png" width="25" height="25"></a>
        <a href="https://github.com/ClarkF704"> <img src="/github.png" width="25" height="25"></a>
      </div>
    </div>
  </div>
</div>