<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <nav>
        <aside class='sidebar'>
          <div class='main-nav'>
            <ul>
              <li>
                <a href="/"><img id="smallEm" src="/color.png" alt="Avanza Analytics" width="50px" height="50px"></a>
              </li>


              <li>
                <a href="/analytics"><img src="/dollar.png" width="30" height="30"> Analytics</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/development"><img src="/dev.png" width="30" height="30"> Development</a>
                <!-- Icon found on https://www.flaticon.com -->

              </li>
              <!-- <li>
                <a href="/clients"><img src="/team.png" width="30" height="30"> Clients</a>
                 Icon found on https://www.flaticon.com -->

              <!-- </li>  -->
              <li>
                <a href="/about"><img src="/about.png" width="30" height="30"> About</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/contact"><img src="/contact.png" width="30" height="30"> Contact</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/welcome"><img src="/login.png" width="30" height="30"> Login</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>

            </ul>
          </div>
        </aside>
      </nav>
    </div>
    <a href="/home"><img src="/color.png" width="70" height="70"></a>
    
  


  
  

  <div class="container">
			
    <div class="st-container">
    
      <input type="radio" name="radio-set" checked="checked" id="st-control-1"/>
      <div class="st-scroll">        
        <section class="st-panel" id="st-panel-1">
          <h2 id="titleHead">Development</h2>
          <p style="color:white; text-align:center;"><span
            style="color:#86c232; font-family: 'Titillium Web', sans-serif; ">Avanza Analytics</span> will open the door for new prospects</p>
        </section>
      </div><!-- // st-scroll -->
      
    </div><!-- // st-container -->
    <div class="row">
      <div class="col-lg-5">
        <p class="devWord">Avanza Analytics develops Full Stack Web Applications. We make it possible for new prospects and existing prospects to connect easier. Grow your business to its fullest potential.</p>
      </div>
      <div class="col-lg-5">
        <img class="devImg" src="/screenShot.png" height="300" width="350">
      </div>
    </div>
    
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-12">
        <img id="loading" src="/react.png" style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
    height: auto;">
    </div>
  </div>
</div>