<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <nav>
        <aside class='sidebar'>
          <div class='main-nav'>
            <ul>
              <li>
                <a href="/"><img id="smallEm" src="/color.png"
                    alt="Avanza Analytics" width="50px" height="50px"></a>
              </li>
  

              <li>
                <a href="/analytics"><img src="/dollar.png" width="30" height="30"> Analytics</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/development"><img src="/dev.png"
                    width="30" height="30"> Development</a>
                <!-- Icon found on https://www.flaticon.com -->

              </li>
              <!-- <li>
                <a href="/clients"><img src="/team.png"
                    width="30" height="30"> Clients</a>
                Icon found on https://www.flaticon.com -->

              <!-- </li>  -->
              <li>
                <a href="/about"><img src="/about.png"
                    width="30" height="30"> About</a>
                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/contact"><img src="/contact.png"
                    width="30" height="30"> Contact</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>
              <li>
                <a href="/welcome"><img src="/login.png"
                    width="30" height="30"> Login</a>

                <!-- Icon found on https://www.flaticon.com -->
              </li>

            </ul>
          </div>
        </aside>
      </nav>
    </div>
  </div>
</div>
<div class="row mt-5">
        <div class="col-md-6 m-auto">
          <div class="card card-body">
              <h1><img id="smallEm" src="/color.png" alt="Avanza Analytics" style="display: block;
                margin-left: auto;
                margin-right: auto;
                width: 25%;"></h1>
            <% include ./partials/messages %> 
            <form action="/users/login" method="POST">
              <div class="form-group">
                <label for="email">Email</label>
                <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                />
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Enter Password"
                />
              </div>
              <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <p class="lead mt-4">
              No Account? <a href="/users/register">Register</a>
            </p>
          </div>
        </div>
      </div>