<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img src="/greenwhite.png" width="400" height="auto">
    <h1 style="text-align:center; color:white;"> Do not leave any blanks</h1>
    <a href="/contact"><button type="button" class="btn btn-success" href="/contact">Return to form</button></a> 
            </div>
        </div>
    </div>