

#newLogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
#titleAna{
  font-family: 'Exo 2', sans-serif;
  color:#61892f;
  font-size:15px;
  margin-left:550px;
  

}
#smallEm {
  animation: pulse 2s infinite;
  display: table;
  animation-direction: alternate;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
#titleHead{
    font-family: 'Exo 2', sans-serif;
    font-size:70px;
    color:white;
    text-align:center;
    margin-bottom:0%;
}

/* Matrix */

/* Header */
.large-header {
	position: relative;
	width: 100%;
	background: #222629;
	overflow: hidden;
	background-size: cover;
  background-position: center center;
  background-image: url('/greenwhite.png');
  background-size: 300px 200px;
  background-repeat: no-repeat;
  background-position: 50px 1px;
}



.main-title {
	position: absolute;
	margin: 0;
	padding: 0;
	color: white;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  text-align:center;
  font-family: 'Exo 2', sans-serif;
  color:white;
  size:500px;
}



.thin{
  color:#61892f;
  font-family: 'Titillium Web', sans-serif;
  font-weight:100;
}

.demo-canvas{
  
}







@media only screen and (max-width : 768px) {
	.demo-1 .main-title, 
	.demo-3 .main-title,
	.demo-4 .main-title {
		font-size: 3em;
	}

	.demo-2 .main-title {
		font-size: 4em;
	}
}


/* Matrix end */

/* particle */


body{
  background-color:#222629;
  width:100%;

}



/* partice end */

.card-body{
  background-color:#6b6e70;
  
}
.btn-secondary{
  background-color:#86c232;
}
.btn-secondary:hover{
  background-color:red;
}
.welcomeDash{
  font-family: 'Exo 2', sans-serif;
  color: white;
  text-align:center;
}
.row{
  font-family: 'Exo 2', sans-serif;
}
/* entypo   */
aside{
  position:relative;
  float: left;
  height: 100%;
  transition: all .3s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}


/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background-color: #474b4f;
  color: #61892f;
  float: left;
  overflow: hidden;
  transition: width .3s ease-in-out;
  box-shadow: 0 0 1px #000;
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  z-index: 100;
  font-family: 'Titillium Web', sans-serif;
} */

.sidebar:hover {
  width: 250px;
  overflow-y: auto;
}

.canvas-toggle {
  position: fixed;
  z-index: 1199;
}

input[type="text"] {
  background: transparent;
  position: absolute;
  left: 20%;
  top: 10px;
  color: #bbb;
  width: 70%;
  line-height: 1.8;
  font-size: 1.1rem;
  padding: 0;
}

input[type="text"]:focus {
  color: #fff;
  outline: 0;
}

/* .sidebar:hover input[type="text"] {
  padding: 5px 10px;
}

.sidebar:hover .main-nav ul li a {
  opacity: 1;
  left: 0;
  font-weight: 900;
  color: white;
  text-decoration: none;
}

.sidebar .main-nav ul li {
  min-height: 50px;
  line-height: 50px;
  position: relative;
}

.sidebar .main-nav ul li.logo {
  margin-bottom: 10px;
}

.sidebar .main-nav ul li.logo a {
  text-transform: uppercase;
  font-weight: 800;
}

.sidebar .main-nav ul li.logo i:before {
  color: #86c232;
  font-size: 1.6em;
}

.sidebar .main-nav ul li a {
  display: block;
  padding-left: 50px;
  position: relative;
  left: 15px;
  opacity: 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
  font-weight: 300;
}

.sidebar .main-nav ul li i {
  font-weight: 100;
  position: absolute;
  font-size: 1.2em;
  width: 50px;
  height: 50px;
  top: 15px;
  left: 0;
  text-align: center;
}

.sidebar .main-nav ul li i:before {
  font-size: 1.25em;
  transition: all .3s ease-in-out;
}

.sidebar .main-nav ul li:hover {
  background-color: #61892f;
  border-left: 3px solid #86c232
}

.sidebar .main-nav li a:focus {
  border-left: 3px solid #86c232;
}

.sidebar .main-nav ul li:hover i:before {
  color: #86c232;
}

.sidebar:hover + .menu {
  transition: all 0.5s ease;
  position: relative;
  float: left;
}

nav:hover ~ .menu {
  transition: all 0.5s ease;
  position: relative;
  left: 10%;
  width: 90%;
}

.menu {
  position: relative;
  left: 3%;
  width: 97%;
}

.page {
  position: relative;
  padding-left: 50px;
}

.page.color-1 {
  
  color: #fff;
}

.page .content {
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  padding: 50px 20px;
}

h1{
  color:white;
  text-align:center;
}




.missonState{
  text-align:center;
  font-family: 'Exo 2', sans-serif;
  color:white;
  size:500px;
}
/*  */

  .footer{
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color:#86c232;
   color: #222629;
   text-align: center;
   font-family: 'Exo 2', sans-serif;
  }
 /*  
  @media only screen and (max-width: 700px) {
    * {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      box-sizing: border-box;
    }
    nav{
      position:auto;
    }
    
    .sidebar {
      top: 0;
      left: 0;
      background-color: #474b4f;
      color: #61892f;
      transition: width .3s ease-in-out;
      box-shadow: 0 0 1px #000;
      -ms-transform: none;
      -webkit-transform: none;
      -moz-transform: none;
      -ms-transform: none;
      -o-transform: none;
      transform: none;
      z-index: 100;
      font-family: 'Titillium Web', sans-serif;
      width: 100%;
      height: auto;
      position: relative;
    }
    
    .sidebar:hover {
      width: 250px;
      overflow-y: auto;
    }
    
    .canvas-toggle {
      position: fixed;
      z-index: 1199;
    }
    
    input[type="text"] {
      background: transparent;
      position: absolute;
      left: 20%;
      top: 10px;
      color: #bbb;
      width: 70%;
      line-height: 1.8;
      font-size: 1.1rem;
      padding: 0;
    }
    
    input[type="text"]:focus {
      color: #fff;
      outline: 0;
    }
    
    .sidebar:hover input[type="text"] {
      padding: 5px 10px;
    }
    
    .sidebar:hover .main-nav ul li a {
      opacity: 1;
      left: 0;
      font-weight: 900;
      color: white;
      text-decoration: none;
    }
    
    .sidebar .main-nav ul li {
      min-height: 50px;
      line-height: 50px;
      position: relative;
    }
    
    .sidebar .main-nav ul li.logo {
      margin-bottom: 10px;
    }
    
    .sidebar .main-nav ul li.logo a {
      text-transform: uppercase;
      font-weight: 800;
    }
    
    .sidebar .main-nav ul li.logo i:before {
      color: #86c232;
      font-size: 1.6em;
    }
    
    .sidebar .main-nav ul li a {
      display: block;
      padding-left: 50px;
      position: relative;
      left: 15px;
      opacity: 0;
      transition: all .3s ease-in-out;
      cursor: pointer;
      font-weight: 300;
    }
    
    .sidebar .main-nav ul li i {
      font-weight: 100;
      position: absolute;
      font-size: 1.2em;
      width: 50px;
      height: 50px;
      top: 15px;
      left: 0;
      text-align: center;
    }
    
    .sidebar .main-nav ul li i:before {
      font-size: 1.25em;
      transition: all .3s ease-in-out;
    }
    
    .sidebar .main-nav ul li:hover {
      background-color: #61892f;
      border-left: 3px solid #86c232
    }
    
    .sidebar .main-nav li a:focus {
      border-left: 3px solid #86c232;
    }
    
    .sidebar .main-nav ul li:hover i:before {
      color: #86c232;
    }
    
    .sidebar:hover + .menu {
      transition: all 0.5s ease;
      position: relative;
      float: left;
    }
    
    nav:hover ~ .menu {
      transition: all 0.5s ease;
      position: relative;
      left: 10%;
      width: 90%;
    }
    
    .menu {
      position: relative;
      left: 3%;
      width: 97%;
    }
    
    .page {
      position: relative;
      padding-left: 50px;
    }
    
    .page.color-1 {
      background-color: red;
      color: #fff;
    }
    
    .page .content {
      width: 100%;
      max-width: 740px;
      margin: 0 auto;
      padding: 50px 20px;
    }
    
    .page .content h1,
    .page .content h2,
    .page .content p {
      margin-bottom: 1em;
    } */
  
  .aboutInfo{
    color:white;
    text-align:center;
    margin-top:35%;
  }
  .footIcon{
    text-align:center;
    position: relative; /* Declared position allows for location changes */
    top: -40px; /* Moves the image 2px closer to the top of the page */
}
    

  
  .contactName{
    margin-left:200px;
  }
  /* contact form */
  .form-control{
    background-color:#6b6e70;
    color:white;
  }
 .form-control input:hover{
   color:#86c232;
 }


 input::-webkit-input-placeholder,
 textarea::-webkit-input-placeholder {
 
     font-size: 0.875em;
 }
 
 input:focus::-webkit-input-placeholder,
 textarea:focus::-webkit-input-placeholder {
     color: #86c232;
 }
 
 input::-moz-placeholder,
 textarea::-moz-placeholder {
     color: #86c232;
     font-size: 0.875em;
 }
 
 input:focus::-moz-placeholder,
 textarea:focus::-moz-placeholder {
     color: #86c232;
 }
 
 input::placeholder,
 textarea::placeholder {
     color: #86c232;
     font-size: 0.875em;
 }
 
 input:focus::placeholder,
 textarea:focus:placeholder {
     color: #86c232;
 }
 
 input::-ms-placeholder,
 textarea::-ms-placeholder {
     color: #86c232;
     font-size: 0.875em;
 }
 
 input:focus::-ms-placeholder,
 textarea:focus::-ms-placeholder {
     color: #86c232;
 }




 input:hover::-webkit-input-placeholder,
 textarea:hover::-webkit-input-placeholder {
     color: white;
     font-size: 0.875em;
 }
 
 input:hover:focus::-webkit-input-placeholder,
 textarea:hover:focus::-webkit-input-placeholder {
     color: white;
 }
 
 input:hover::-moz-placeholder,
 textarea:hover::-moz-placeholder {
     color: white;
     font-size: 0.875em;
 }
 
 input:hover:focus::-moz-placeholder,
 textarea:hover:focus::-moz-placeholder {
     color: white;
 }
 
 input:hover::placeholder,
 textarea:hover::placeholder {
     color: white;
     font-size: 0.875em;
 }
 
 input:hover:focus::placeholder,
 textarea:hover:focus::placeholder {
     color: white;
 }
 
 input:hover::placeholder,
 textarea:hover::placeholder {
     color: white;
     font-size: 0.875em;
 }
 
 input:hover:focus::-ms-placeholder,
 textarea:hover:focus:-ms-placeholder {
     color: white;
 } 

 .form-control{
  
  
  
  

  outline: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
 }
 textarea:hover {
  background: #474b4f;
  color:#86c232;
}
input:hover{
  background:#474b4f;
  color:#86c232;
}
.clarkContact{
  float:right;
  position: relative; /* Declared position allows for location changes */
    top: -300px; /* Moves the image 2px closer to the top of the page */
    border-radius: 50%;
}
.daltonContact{
  float:right;
  position: relative; /* Declared position allows for location changes */
    top: -600px; /* Moves the image 2px closer to the top of the page */
    border-radius: 50%;
    left:125px;
}
p{
  color:white;
}
.scrapedData{
  color:white;
}

/* //This is the development page */


.st-container {
	position: absolute;
	width: 100%;
	height: 30%;
	top: 0;
  left: 0;

  
  
}






/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */








.st-scroll,
.st-panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.st-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}






/* Content elements */





.st-panel h2 {
	position: absolute;
	font-size: 54px;
	font-weight: 900;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -70px 0 0 0;
	padding: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% { 
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.st-panel p {
	position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	z-index: 2;
	padding: 0;
	width: 50%;
	left: 25%;
	top: 50%;
	margin: 10px 0 0 0;
	-webkit-backface-visibility: hidden;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}

@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

/* Colored sections */




@media screen and (max-width: 520px) {
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
}
@media screen and (max-width: 360px) {
	.st-container > a {
		font-size: 10px;
	}
	
	.st-deco{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
}
/* END */

.devWord{
  margin-top:50%;
  font-size:22px;
  
}
.devImg{
  border: 2px solid #86c232;
  border-radius: 50px 20px;
  position: relative; /* Declared position allows for location changes */
  top: -20px; /* Moves the image 2px closer to the top of the page */
}

#loading {
  -webkit-animation: rotation 7s infinite linear;
}

@-webkit-keyframes rotation {
  from {
      -webkit-transform: rotate(0deg);
  }
  to {
      -webkit-transform: rotate(359deg);
  }
}
#results{
  color:white;
  text-align:center;
}
.dashIMG{
  width:450px;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.buttons{
  text-align:center;
}


/* helllllooooooooooo */

#side-nav {
  position: fixed; left: -300px; top: 0;
  width: 300px; height: 100vh;
  background-color:#474b4f;
  font-family: 'Titillium Web', sans-serif;
}
/* #side-nav.open {left: 0;} */

#side-nav li a {
  padding: 14px 20px; display: block; 
  color:white; 
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  font-family: 'Titillium Web', sans-serif;
}
#side-nav li a:hover{
  background-color:#86c232;
  text-decoration: none;
  color:#222629;
  transition: all .3s ease-in-out
}

#side-nav .navBtn {
  position: absolute; right: -60px; top: 10px;
  display: block; width: 50px; height: 50px;
  text-align: center; line-height: 50px;
}


.avanzaNavimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  height:auto;
}
/* sideeeeee */

.parallax {
    background-attachment: inherit !important;
    background-repeat: repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    z-index: -10;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

/*nav*/
.ct-nav {
  position: relative;
  z-index: 999;
}
 
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  border: none;
}
.navbar > .container-fluid {
  padding-left: 0;
  padding-right: 0; 
}

.topbar {
  list-style: none; 
}
.topbar:before, .topbar:after {
  content: " ";
  display: table; 
}
.topbar:after {
  clear: both; 
}
.topbar li {
  display: inline-block;
  font-size: 20px;
  text-transform: uppercase;
  height: 47px;
  line-height: 47px;
  float: right;
  -webkit-transition: background-color 250ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: background-color 250ms cubic-bezier(0.55, 0, 0.1, 1); 
}
.topbar li + li {
  margin-right: 6px; 
}
.topbar li a {
  display: block; 
}
.topbar li.topbar__socials {
  background-color: white;
  color: #111f1d;
  width: 47px;
  text-align: center;
  font-size: 31px;
}
.topbar li.topbar__socials:hover {
  background-color: #e6e6e6;
}
		
.topbar li .fa {
  padding: 20% 0;
}
.topbar li.topbar__phone {
  background: #00aceb;
  padding: 2px 20px 0 25px;
  font-size: 22px; 
}
.topbar li.topbar__phone:hover {
  background-color: #1180d3; 
}
.topbar li.topbar__search {
  width: 47px;
  text-align: center;
  background: #2fbfbc;
  position: relative;
}
.topbar li.topbar__search a {
  display: block;
  position: relative;
  background: #2fbfbc;
}

.topbar li.topbar__search.active .topbar__search-form {
  width: 441px;
}
.topbar li.topbar__search:hover a {
  background-color: #259694;
}
.topbar li.topbar__item {
  padding: 2px 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.075);
  letter-spacing: -1.55px;
}
.topbar li.topbar__item + li {
  margin-right: 10px;
}
.topbar li.topbar__item:hover {
  text-decoration: underline;
}
.navbar-brand {
  padding: 20px 39px 10px; 
}
.navbar-nav {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  padding-top: 34px;
  padding-right: 20px;
  margin-right: -18px;
}
.navbar-nav > li {
  position: relative;
  line-height: 1;
  margin: 0 15px;
  padding: 0 2px 8px;
  text-align: center;
  letter-spacing: 1.1px;
  -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.navbar-nav > li > a {
  padding: 0;
  line-height: inherit;
  position: relative;
  z-index: 1;
}
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus, .navbar-nav > li > a:active {
  background: transparent;
}
.navbar-nav > li:after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 4px;
  width: 100%;
  -webkit-transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 250ms cubic-bezier(0.55, 0, 0.1, 1);
}
.navbar-nav > li.motive:after {
  background: #00aceb;
}
.navbar-nav > li.accent:after {
  background: #00aceb;
}
.navbar-nav > li.gray:after {
  background: #00aceb;
}
.navbar-nav > li.yellow:after {
  background: #00aceb;
}
.navbar-nav > li.lightyellow:after {
  background: #00aceb;
}
.navbar-nav > li.white:after {
  background: #00aceb; 
}
@media only screen and (min-width: 1399px) {
  .navbar-nav > li.accent {
	margin-left: 27px; 
  }
  .navbar-nav > li.gray {
	margin-left: 35px;
  }
  .navbar-nav > li.yellow {
	margin-left: 45px;
  }	
}
.navbar-nav > li:hover {
  -webkit-transform: scale(1.15);
	  -ms-transform: scale(1.15);
		  transform: scale(1.15); 
}
.navbar-nav > li:hover:after {
  opacity: 0.7;
}
.navbar-nav > li:hover.accent:after {
  background: #269694;
  opacity: 1;
}
.navbar-nav > li.dropdown ul.dropdown-menu {
  right: auto;
  left: -10%;
  top: 140%;
  border: none;
  border-radius: 0;
  background: #237d7d;
  padding: 10px 0;
  box-shadow: none; 
}
.navbar-nav > li.dropdown ul.dropdown-menu.dropdown-menu--right {
  right: -10%;
  left: auto;
}
.navbar-nav > li.dropdown ul.dropdown-menu li {
  margin: 0;
}
.navbar-nav > li.dropdown ul.dropdown-menu a {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 28px;
  background: transparent;
}
.navbar-nav > li.dropdown ul.dropdown-menu a:hover {
  background-color: #175b5b;
}
.navbar-nav > li.dropdown > a {
  display: block;
  position: static;
}
.navbar-nav > li.dropdown > a:before {
  content: '';
  position: absolute;
  top: -40%;
  left: -10%;
  width: 120%;
  height: 180%;
  background: #237d7d;
  display: none;
}
.navbar-nav > li.dropdown > a span {
  position: relative;
  z-index: 5;
}
.navbar-nav > li.dropdown:hover {
  -webkit-transform: none;
	  -ms-transform: none;
		  transform: none;
}
.navbar-nav > li.dropdown:hover > a:before {
  display: block;
}
.navbar-nav > li.dropdown:hover:after {
  display: none; 
}
@media only screen and (min-width: 1399px) {
  .navbar-nav {
      font-size: 31px;
      padding-top: 41px; 
  }
  .navbar-nav li {
      margin: 0 25px; 
  } 
}

.navbar .navbar-nav {
  -webkit-transform: translateZ(0);
          transform: translateZ(0); 
}

.navbar-mobile {
  height: 80px;
  width: 100%;
  background: #000;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); 
}

.navbar-mobile__logo {
  display: inline-block;
  margin: 1% 0;
  padding: 0;
  max-width: 65%;
}

.navbar-mobile__logo img {
  width: 100%;
}

.ct-menu-mobile__toggle {
  border: none;
  height: 80px;
  width: 75px;
  float: right;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  background: transparent; 
}

.ct-menu-mobile__toggle .icon-bar {
  background: #fff;
  height: 6px;
  width: 50px;
  -webkit-transition: background-color 250ms cubic-bezier(0.55, 0, 0.1, 1);
   transition: background-color 250ms cubic-bezier(0.55, 0, 0.1, 1); 
}

.ct-menu-mobile__toggle .icon-bar + .icon-bar {
  margin-top: 6px; 
}

.navbar-scrolled .navbar .navbar-nav {
  position: fixed;
  top: 0;
  right: 0;
  margin: 0;
  padding: 20px 0;
  -webkit-animation-name: navbar-animation-1;
          animation-name: navbar-animation-1;
  -webkit-animation-duration: 250ms;
          animation-duration: 250ms; 
}

.navbar-scrolled .navbar .navbar-nav li {
    position: relative;
    z-index: 10; 
}

.navbar-scrolled .navbar .navbar-nav:before {
    content: "";
    background: #111f1d;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    width: 3333px;
    height: 77px; 
}

.ie8 .navbar-scrolled .navbar .navbar-nav:before {
    height: 115px; 
}

@media only screen and (min-width: 1024px) {
  .navbar-mobile {
    display: none !important; 
  } 
}

@media only screen and (max-width: 1023px) {
  .navbar > .container-fluid {
    display: none !important; 
  }
  .navbar-mobile {
    display: block;
  }
  .ct-menu-mobile__toggle {
    display: block !important;
    max-width: 25%;
  }
}

@media only screen and (max-width: 300px) {
  .navbar-mobile__logo {
    margin: 25px 0;
  }
}

@media only screen and (min-width: 768px) {
  .dropdown:hover > ul.dropdown-menu {
    display: block; } 
}

@-webkit-keyframes navbar-animation-1 {
  0% {
    top: -100%; }
  70% {
    top: -5%; }
  100% {
    top: 0%; } }

@keyframes navbar-animation-1 {
  0% {
    top: -100%; }
  70% {
    top: -5%; }
  100% {
    top: 0%; } }

/*SideNav*/
.ct-sidenav.open {
    right: 0;
}
.ct-sidenav {
    width: 343px;
    width: 34.3rem;
    height: 100%;
    position: fixed;
    z-index: 9990;
    top: 0;
    right: -34.3rem;
    background: #191320;
    padding: 75px 0 20px;
    padding: 7.5rem 0 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transition: right 0.25s ease-in-out;
    transition: right 0.25s ease-in-out;
    color: #b7b6b6;
}
.ct-sidenav .close {
    position: absolute;
    top: 7px;
    top: 0.7rem;
    right: 15px;
    right: 1.5rem;
    text-shadow: none;
    color: #fff;
    -webkit-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    font-size: 80px;
    font-size: 8rem;
    opacity: 1;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    font-weight: lighter;
}
.ct-sidenav-logo {
    max-width: 150px;
    max-width: 15rem;
    position: absolute;
    top: 30px;
    top: 3rem;
    left: 60px;
    left: 6rem;
}
.ct-sidenav-list {
    padding: 50px 0 30px;
    padding: 5rem 0 3rem;
    color: #6e6e6e;
    font-size: 22px;
    font-size: 2.2rem;
}
.ct-sidenav-list > li {
    -webkit-transition: background-color 250ms ease-in-out;
    transition: background-color 250ms ease-in-out;
}
.ct-sidenav-list > li > a, .ct-sidenav-list > li button {
    font-family: 'Open Sans Condensed', sans-serif;
}
.ct-sidenav-list > li > a, .ct-sidenav-list > li button {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 8px 25px 8px 65px;
    padding: 0.8rem 2.5rem 0.8rem 6.5rem;
    border: none;
    background-color: transparent;
    font-family: 'nimbus-sans-condensed', sans-serif;
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    font-size: 2.6rem;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    text-transform: uppercase;
}
.ct-sidenav .inner {
    padding-left: 65px;
    padding-left: 6.5rem;
}
.ct-sidenav .separator {
    width: 100%;
    height: 1px;
    height: 0.1rem;
    background-color: rgba(255,255,255,0.2);
    max-width: 185px;
    max-width: 18.5rem;
    display: inline-block;
    margin-top: 35px;
    margin-top: 3.5rem;
}
.ct-sidenav .ct-footer-header {
    padding-bottom: 15px;
    padding-bottom: 1.5rem;
}
.ct-footer-header {
    font-family: 'Open Sans Condensed', sans-serif;
}
.ct-footer-header {
    color: #00bff3;
    text-transform: uppercase;
    font-size: 20px;
    font-size: 2rem;
    font-weight: 700;
    padding: 30px 0 25px;
    padding: 3rem 0 2.5rem;
}
.address {
    font-size: 14px;
    font-size: 1.4rem;
}
.address span {
    display: block;
    margin-top: 5px;
    margin-top: 0.5rem;
}
.ct-sidenav .ct-footer-header {
    padding-bottom: 15px;
    padding-bottom: 1.5rem;
}
ul {
    margin-bottom: 0;
    font-size: 1.7rem;
}
.ct-u-paddingTop60 {
    padding-top: 60px;
    padding-top: 6rem;
}
.ct-search.form-group {
    width: 100%;
    display: block;
    padding-right: 25px;
    padding-right: 2.5rem;
}	








#container {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

#main {
  padding: 4% 1.5em;
  max-width: 55em;
  margin: 0 auto;
}

#header {
  padding: 1.5em;
  margin: 0 0 1em 0;
  background-color: #eee;
}

#footer {
  padding: 1.5em;
  margin: 2em 0 0 0;
  background-color: #eee;

}


/* Menu Styles */

.primary-nav {
	position: fixed;
	z-index: 999;
}

.menu {
	position: relative;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
	
}

.open-panel {
  border: none;
  background-color:#fff;
  padding: 0;
}

.hamburger {
	background: #86c232;
	position: relative;
	display: block;
	text-align: center;
	padding: 13px 0;
	width: 50px;
  height: 73px;
	left: 0;
  top: 0;
	z-index: 1000;
  cursor: pointer;
}

.hamburger:before {
	content:"\2630"; /* hamburger icon */
	display: block;
  color: #000;
  line-height: 32px;
  font-size: 16px;
}

.openNav .hamburger:before {
	content:"\2715"; /* close icon */
	display: block;
  color: #222629;
  line-height: 32px;
  font-size: 16px;
}

.hamburger:hover:before {
  color: #222629;
}

.primary-nav .menu li {
	position: relative;
}

.menu .icon {
	position: absolute;
	top: 12px;
	right: 10px;
	pointer-events: none;
  width: 24px;
  height: 24px;
  color: #fff;
}

.menu,
.menu a{
  font-family: 'Exo 2', sans-serif;
  color: white;
  text-decoration: none!important;
	position: relative;
}

.menu a {
  display: block;
  white-space: nowrap;
  padding: 1em;
  font-size: 17px;
}

.menu a:hover {
	color: #86c232;
}

.menu {
	margin-bottom: 3em;
}

.menu-dropdown li .icon {
	color: #777;
}

.menu-dropdown li:hover .icon {
	color: #fff;
}



.menu label {
  margin-bottom: 0;
  display: block;
}

.menu label:hover {
  cursor: pointer;
}

.menu input[type="checkbox"] {
  display: none;
}

input#menu[type="checkbox"] {
  display: none;
}






.sub-menu-dropdown {
	display: none;
}

.new-wrapper {
	position: absolute;
	left: 50px;
  width: calc(100% - 50px);
  transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}

#menu:checked + ul.menu-dropdown {
    
		left: 0;
    -webkit-animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
            animation: all .45s cubic-bezier(0.77, 0, 0.175, 1);
}

.sub-menu-checkbox:checked + ul.sub-menu-dropdown {
    display: block!important;
    -webkit-animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
            animation: grow .45s cubic-bezier(0.77, 0, 0.175, 1);
}


.openNav .new-wrapper {
  position: absolute;
  transform: translate3d(200px, 0, 0);
  width: calc(100% - 250px);
  transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}


.downarrow {
  background: transparent;
	position: absolute;
	right: 50px;
	top: 12px;
  color: #777;
  width: 24px;
  height: 24px;
  text-align: center;
  display: block;
}

.downarrow:hover {
  color: #fff;
}

.menu {
	position: absolute;
	display: block;
	left: -200px;
  top: 0;
	width: 250px;
  transition: all 0.45s cubic-bezier(0.77, 0, 0.175, 1);
  background-color: #474b4f;
	z-index: 999;
}

.menu-dropdown {
  top: 0;
  overflow-y: auto;
}

.overflow-container {
  position: relative;
  height: calc(100vh - 73px)!important;
  overflow-y: auto;
  border-top: 73px solid #474b4f;
  z-index: -1;
  display:block;
}

.menu a.logotype {
  position: absolute!important;
  top: 11px;
  left: 105px;
  padding: 10px;
  margin-bottom:100%;
}



.menu a.logotype:hover {
  color: #777;
}

.sub-menu-dropdown {
	background-color: #333;
}

.menu:hover {
	position: absolute;
	left: 0;
	top: 0;
}

.openNav .menu:hover {
	position: absolute;
	left: -200px;
	
}

.openNav .menu {
  top 73px;
		transform: translate3d(200px, 0, 0);
    transition: transform .45s cubic-bezier(0.77, 0, 0.175, 1);
}
	
	/* label.hamburger {
		display: none;
	} */













/* look and feel only, not needed for core menu*/

@-webkit-keyframes grow {
	
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
	
}

@keyframes grow {
	
  0% {
    display: none;
    opacity: 0;
  }
  50% {
    display: block;
    opacity: 0.5;
  }
  100% {
    opacity: 1
  }
	
}










/* Text meant only for screen readers. */

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}











/* Resposive Typography */


body,
button,
input,
select,
optgroup,
textarea {
	color: #000;
	font-size: 1em;
	line-height: 1.5;
	font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
	clear: both;
  font-weight: 800;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.light {
    color:#ddd;
}

strong {
	font-weight: 600;
}

cite,
em,
i {
	font-style: italic;
}

p.big {
	font-size: 140%;
	line-height: 1.3em;
}

p.small {
	font-size: 80%;
	}

blockquote {
	display:block;
    margin: 1em 20px;
    padding: 0 1em;
    position:relative;
}

blockquote:before {

}

blockquote cite,
blockquote em,
blockquote i {
	font-style: italic;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	height: 0;
	line-height: 1;
	vertical-align: baseline;
	position: relative;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}


p {
    font-size: 1em;
    margin: 0 0 2em 0;
}

article:last-of-type, p:last-of-type {
	margin-bottom: 0;
}

p.intro {
    font-size:1.25em;
    line-height: 1.5;
    font-weight:300;
     margin: 0 0 1.5em 0;
}

h1, h2 {
    letter-spacing: -1px;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4 {
  margin: 0 0 0.5em 0;
  line-height: 1.1;
}

h1, .h1 {font-size: 2.074em;}

h2, .h2 {font-size: 1.728em;}

h3, .h3 {font-size: 1.44em;}

h4, .h4 {font-size: 1.2em;}



/* Medium Screen Typography - Scale: 1.333 Perfect Fourth (thanks http://type-scale.com/)  */

@media screen and (min-width: 42em) {

	h1, .h1 { letter-spacing: -2px; }

	h1, .h1 {font-size: 3.157em;}

	h2, .h2 {font-size: 2.369em;}

	h3, .h3 {font-size: 1.777em;}

	h4, .h4 {font-size: 1.333em;}

	p { font-size:1.0625em; }

	p.intro { font-size:1.3em; }

}


/* Large Screen Typography  - Scale: 1.414 Augmented Fourth (thanks http://type-scale.com/)  */

@media screen and (min-width: 72em) {

	h1 { letter-spacing: -3px; }

	h1, .h1 { margin-bottom: 0.35em; font-size: 3.998em; }

	h2, .h2  { font-size: 2.827em; }

	h3, .h3 { font-size: 1.999em; }

	h4, .h4 { font-size: 1.414em; }

	p { font-size:1.125em; }

	p.intro { font-size:1.4em; }

}








#analyticWording{
  margin-right:10px;
}


